@model IEnumerable<Model.GoTime>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            上午上班打卡时间
        </th>
        <th>
            上午下班打卡时间
        </th>
        <th>
            下午上班打卡时间
        </th>
        <th>
            下午下班打卡时间
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.AMGoTime.ToString().Substring(item.AMGoTime.ToString().LastIndexOf(' '), item.AMGoTime.ToString().Length == 16 ? 5 : 6)
            </td>
            <td>
                @item.AMComeTime.ToString().Substring(item.AMComeTime.ToString().LastIndexOf(' '), item.AMComeTime.ToString().Length == 16 ? 5 : 6)
            </td>
            <td>
                @item.PMGoTime.ToString().Substring(item.PMGoTime.ToString().LastIndexOf(' '), item.PMGoTime.ToString().Length == 16 ? 5 : 6)
            </td>
            <td>
                @item.PMComeTime.ToString().Substring(item.PMComeTime.ToString().LastIndexOf(' '), item.PMComeTime.ToString().Length == 16 ? 5 : 6)
            </td>
            <td>
                <input id="Button1" type="button" value="修改时间" class="btn btn-default" onclick="location.href='/GoTime/Upd/?id=@item.GoTimeId'" />
            </td>
        </tr>
    }

</table>
